<launch>
	<!-- <node name="vins_estimator" pkg="vins"  type="vins_node" output="screen" args="$(find vins)/../config/fastlab_dld_omni/realsense_stereo_imu_config.yaml"/> -->
	<arg name="config_path" default="$(find loop_fusion)/../config/fastlab_dld_omni/reloc.yaml" />

    <node name="ros_reloc_node" pkg="loop_fusion" type="ros_reloc_node" output="screen" args="$(arg config_path)" required="true">
<!--    <node name="ov_loop_fusion_node" pkg="ov_loop_fusion" type="ov_loop_fusion_node" output="screen" args="$(arg config_path)" required="true" launch-prefix="gdb -ex run &#45;&#45;args">-->
        <!-- INPUT: keyframe poses / marginalized poses /mapping/cloud_deskewed -->
        <remap from="/vins_estimator/odometry"   to="/vins_estimator/imu_propagate"/>  
        <remap from="/vins_estimator/imu_propagate"    to="/vins_estimator/imu_propagate"/>
        
        <!-- <remap from="/ros_reloc_node/odometry_rect"   to="/ros_reloc_node/odometry_rect_ws"/>   -->
        <!-- INPUT: current system pose and points -->
        <!-- <remap from="/vins_estimator/odometry"             to="/mapping/Odometry"/> -->
    </node><!-- <node pkg="rosbag" type="play" name="player" output="screen" args=" /home/ubuntu/Desktop/data/huzhou/vision_0.bag -s 70 -r 2"/> -->
</launch> 