<launch>
	<node name="vins_estimator" pkg="vins"  type="vins_node" output="screen" args="$(find vins)/../config/fastlab_nx_rs/realsense_stereo_imu_config.yaml"/>
	<arg name="config_path" default="$(find loop_fusion)/../config/fastlab_nx_rs/reloc.yaml" />

    <node name="ros_reloc_node" pkg="loop_fusion" type="ros_reloc_node" output="screen" args="$(arg config_path)" required="true">
<!--    <node name="ov_loop_fusion_node" pkg="ov_loop_fusion" type="ov_loop_fusion_node" output="screen" args="$(arg config_path)" required="true" launch-prefix="gdb -ex run &#45;&#45;args">-->
        <!-- INPUT: keyframe poses / marginalized poses /mapping/cloud_deskewed -->
        <!-- <remap from="/vins_estimator/keyframe_pose"    to="/mapping/Odometry"/> -->
        <!-- INPUT: current system pose and points -->
        <!-- <remap from="/vins_estimator/odometry"             to="/mapping/Odometry"/> -->
    </node><!-- <node pkg="rosbag" type="play" name="player" output="screen" args=" /home/ubuntu/Desktop/data/huzhou/vision_0.bag -s 70 -r 2"/> -->
</launch> 