<launch>

    <!-- number of moving objects -->
    <arg name="obj_num" value="0" />
    <arg name="drone_id" value="0"/>

    <arg name="map_size_x" value="500"/>
    <arg name="map_size_y" value="500"/>
    <arg name="map_size_z" value="3.0"/>
    <!-- <arg name="odom_topic" value="/far_vins_node/far_imu_propagation"/> -->
    <arg name="odom_topic" value="/ros_reloc_node/odometry_rect"/>
    
    <!-- main algorithm params -->
    <include file="$(find ego_planner)/launch/advanced_param_exp.xml">
        <arg name="drone_id" value="$(arg drone_id)"/>
        <arg name="map_size_x_" value="$(arg map_size_x)"/>
        <arg name="map_size_y_" value="$(arg map_size_y)"/>
        <arg name="map_size_z_" value="$(arg map_size_z)"/>
        <arg name="odometry_topic" value="$(arg odom_topic)"/>
        <arg name="obj_num_set" value="$(arg obj_num)" />
        <!-- camera pose: transform of camera frame in the world frame -->
        <!-- depth topic: depth image, 640x480 by default -->
        <!-- don't set cloud_topic if you already set these ones! -->
        <arg name="camera_pose_topic" value="nouse1"/>
        <arg name="depth_topic" value="/hjy"/>
        <!-- topic of point cloud measurement, such as from LIDAR  -->
        <!-- don't set camera pose and depth, if you already set this one! -->
        <arg name="cloud_topic" value="nouse2"/>
        <!-- intrinsic params of the depth camera -->
        <arg name="cx" value="321.5521545410156"/>
        <arg name="cy" value="237.2305145263672"/>
        <arg name="fx" value="382.1528015136719"/>
        <arg name="fy" value="382.1528015136719"/>
        <!-- maximum velocity and acceleration the drone will reach -->
        <arg name="max_vel" value="1.2" />
        <arg name="max_acc" value="2.4" />
        <!--always set to 1.5 times grater than sensing horizen-->
        <arg name="planning_horizon" value="6" />
        <arg name="use_distinctive_trajs" value="false" />
        <!-- 1: use 2D Nav Goal to select goal  -->
        <!-- 2: use global waypoints below  -->
        <arg name="flight_type" value="2" />
        <!-- global waypoints -->
        <!-- It generates a piecewise min-snap traj passing all waypoints -->
        <arg name="point_num" value="24" />
        <arg name="point0_x" value="30.0" />
        <arg name="point0_y" value="0" />
        <arg name="point0_z" value="0.8" />
        <!-- I -->
        <arg name="point1_x" value="40.0" />
        <arg name="point1_y" value="-0.2" />
        <arg name="point1_z" value="0.8" />
        <arg name="point2_x" value="50.0" />
        <arg name="point2_y" value="-0.2" />
        <arg name="point2_z" value="0.8" />
        <arg name="point3_x" value="50.0" />
        <arg name="point3_y" value="16.2" />
        <arg name="point3_z" value="0.8" />
        <arg name="point4_x" value="60.0" />
        <arg name="point4_y" value="16.2" />
        <arg name="point4_z" value="0.8" />

        <!-- C -->
        <arg name="point5_x" value="76.0" />
        <arg name="point5_y" value="16.2" />
        <arg name="point5_z" value="0.8" />
        <arg name="point6_x" value="60.0" />
        <arg name="point6_y" value="16.2" />
        <arg name="point6_z" value="0.8" />
        <arg name="point7_x" value="60.0" />
        <arg name="point7_y" value="-0.2" />
        <arg name="point7_z" value="0.8" />
        <arg name="point8_x" value="76" />
        <arg name="point8_y" value="-0.2" />
        <arg name="point8_z" value="0.8" />

        <!-- R -->
        <arg name="point9_x" value="84.0" />
        <arg name="point9_y" value="-0.2" />
        <arg name="point9_z" value="0.8" />
        <arg name="point10_x" value="84.0" />
        <arg name="point10_y" value="16.2" />
        <arg name="point10_z" value="0.7" />
        <arg name="point11_x" value="90.5" />
        <arg name="point11_y" value="16.2" />
        <arg name="point11_z" value="0.7" />
        <arg name="point12_x" value="90.5" />
        <arg name="point12_y" value="11.0" />
        <arg name="point12_z" value="0.7" />
        <arg name="point13_x" value="84.0" />
        <arg name="point13_y" value="9.0" />
        <arg name="point13_z" value="0.7" />
        <arg name="point14_x" value="87.0" />
        <arg name="point14_y" value="1.8" />
        <arg name="point14_z" value="0.7" />
        <arg name="point15_x" value="89.0" />
        <arg name="point15_y" value="0.4" />
        <arg name="point15_z" value="0.7" />
        <arg name="point16_x" value="91.0" />
        <arg name="point16_y" value="-0.2" />
        <arg name="point16_z" value="0.7" />

         <!-- A -->
        <arg name="point17_x" value="99.0" />
        <arg name="point17_y" value="-0.2" />
        <arg name="point17_z" value="0.7" />
        <arg name="point18_x" value="104.0" />
        <arg name="point18_y" value="15.0" />
        <arg name="point18_z" value="0.7" />
        <arg name="point19_x" value="105.5" />
        <arg name="point19_y" value="17.0" />
        <arg name="point19_z" value="0.7" />
        <arg name="point20_x" value="107.0" />
        <arg name="point20_y" value="15.0" />
        <arg name="point20_z" value="0.7" />
        <arg name="point21_x" value="112.0" />
        <arg name="point21_y" value="-0.2" />
        <arg name="point21_z" value="0.7" />
        <arg name="point22_x" value="108.0" />
        <arg name="point22_y" value="8.2" />
        <arg name="point22_z" value="0.7" />
        <arg name="point23_x" value="102.0" />
        <arg name="point23_y" value="8.2" />
        <arg name="point23_z" value="0.7" />

        <!-- other -->
        <arg name="point24_x" value="96.0" />
        <arg name="point24_y" value="-24.0" />
        <arg name="point24_z" value="0.8" />
        <arg name="point25_x" value="88.0" />
        <arg name="point25_y" value="-38.0" />
        <arg name="point25_z" value="0.8" />
        <arg name="point26_x" value="85.0" />
        <arg name="point26_y" value="-50.0" />
        <arg name="point26_z" value="0.8" />
        <arg name="point27_x" value="50.0" />
        <arg name="point27_y" value="-50.0" />
        <arg name="point27_z" value="0.8" />
        <arg name="point28_x" value="20.0" />
        <arg name="point28_y" value="-53.0" />
        <arg name="point28_z" value="0.8" />
        <arg name="point29_x" value="0.0" />
        <arg name="point29_y" value="0.0" />
        <arg name="point29_z" value="0.8" />

    </include>
    <!-- trajectory server -->
    <node pkg="ego_planner" name="drone_$(arg drone_id)_traj_server" type="traj_server" output="screen">
        <!-- <remap from="position_cmd" to="/setpoints_cmd"/> -->
        <remap from="~planning/bspline" to="drone_$(arg drone_id)_planning/bspline"/>
        <param name="traj_server/time_forward" value="1.0" type="double"/>
    </node>
</launch>
